@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$blue: hsl(223, 87%, 63%);

$pale-blue: hsl(223, 100%, 88%);
$lightred: hsl(354, 100%, 66%);

$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  height: 100vh;
  // overflow: hidden;
}

main {
  position: relative;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 3rem 15rem 1rem;
  align-items: center;

  .logo {
    display: block;
    max-width: 70px;
  }

  .header {
    padding: 2rem 1rem 0 1rem;

    font-size: 2rem;
    color: $gray;
    font-weight: 400;
  }

  .sub-header {
    color: darken($color: $gray, $amount: 40);
    padding: 0.75rem 0 1rem 0;
    //   font-weight: 600;
  }

  .form {
    padding: 1rem 0 4rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    .label {
      position: absolute;
      left: 1.5rem;
      transform: translateY(65%);
      font-size: .9rem;
      display: none;
      cursor: text;
    }

    .inputtext {
      width: 68%;
      padding: .75rem 1.5rem;
      border: 1px solid lighten($color: $pale-blue, $amount: 7);
      border-radius: 50px;
      font-size: 0.75rem;
      transition: all 0.3s;
      &::placeholder {
        color: lighten($blue, 25);
      }
      &:focus {
        outline: none;
      }
    }

    .error-message {
        display: none;
        font-size: .65rem;
        font-weight: 500;
        color: $lightred;
        font-style: italic;
        padding-left: 1.5rem;
        padding-top: .5rem;
        position: absolute;
        top: 55px;
    }

    .input-error {
        border-color: $lightred;
        &::placeholder {
          opacity: 0;
        }
    }

    .submit-btn {
      width: 30%;
      padding: .75rem 1.5rem;
      border: 1px solid $blue;
      border-radius: 50px;
      background-color: $blue;
      color: #ffffff;
      font-weight: 600;
      font-size: 0.75rem;
      box-shadow: $blue 0px 0px 5px 0px;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        box-shadow: $blue 0px 2px 15px 0px;
      }
      &:focus {
        outline: none;
        background-color: lighten($color: $blue, $amount: 5);
      }
    }
  }

  .dashboard-img {
    width: 100%;
  }

  .footer {
    width: 100%;
    margin-top: auto; // footer fixed to bottom
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .links {
      padding: 1rem 0.75rem 0;
      display: flex;
      gap: 7px;
      align-items: center;
      .img-wrapper {
        border: 1px solid $pale-blue;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .fab {
          color: $blue;
          font-size: 15px;
          transition: .3s all ease-in-out;

        }
        &:hover {
          border-color: transparent;
          background-color: $blue;
          .fab {
            color: #ffffff;
          }
        }
      }
    }

    .copyright {
      font-size: 0.75rem;
      color: $gray;
      padding-top: 1rem;
    }
  }

  .text-bold {
    font-weight: 700;
    color: black;
  }
}

@media screen and (max-width: 1600px) {
  main {
    padding: 3rem 10rem 1rem;
  }
}


@media screen and (max-width: 1200px) {
  main {
    padding: 3rem 5rem 1rem;
  }
}

@media screen and (max-width: 900px) {
  main {
    width: 100%;
    padding: 3rem 2rem 2rem;

    .logo {
      max-width: 50px;
    }
    .header {
      font-size:1.25rem;
    }
    .sub-header {
      font-size:.75rem
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 3rem;
      .inputtext {
        width: 90%;
      }
      .submit-btn {
        margin-top: .5rem;
        width: 90%;
      }
      .error-message {
        position: relative;
        top: 0;
        text-align: center;
        padding-top: .25rem;
      }
      .label {
        font-size:.75rem;
        transform: translateY(83%);
        left: 2.5rem;
        
      }
    }
    .footer {
      .links {
        .img-wrapper {
          width: 32px;
          height: 32px;
        }
      }
  
      .copyright {
        font-size: 0.65rem;
      }
    }
  }
}

