@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  height: 100vh;
}

main {
  position: relative;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 15rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .logo {
  display: block;
  max-width: 70px;
}

main .header {
  padding: 2rem 1rem 0 1rem;
  font-size: 2rem;
  color: #969696;
  font-weight: 400;
}

main .sub-header {
  color: #303030;
  padding: 0.75rem 0 1rem 0;
}

main .form {
  padding: 1rem 0 4rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

main .form .label {
  position: absolute;
  left: 1.5rem;
  -webkit-transform: translateY(65%);
          transform: translateY(65%);
  font-size: .9rem;
  display: none;
  cursor: text;
}

main .form .inputtext {
  width: 68%;
  padding: .75rem 1.5rem;
  border: 1px solid #e6edff;
  border-radius: 50px;
  font-size: 0.75rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .form .inputtext::-webkit-input-placeholder {
  color: #c6d5fb;
}

main .form .inputtext:-ms-input-placeholder {
  color: #c6d5fb;
}

main .form .inputtext::-ms-input-placeholder {
  color: #c6d5fb;
}

main .form .inputtext::placeholder {
  color: #c6d5fb;
}

main .form .inputtext:focus {
  outline: none;
}

main .form .error-message {
  display: none;
  font-size: .65rem;
  font-weight: 500;
  color: #ff5263;
  font-style: italic;
  padding-left: 1.5rem;
  padding-top: .5rem;
  position: absolute;
  top: 65px;
}

main .form .input-error {
  border-color: #ff5263;
}

main .form .input-error::-webkit-input-placeholder {
  opacity: 0;
}

main .form .input-error:-ms-input-placeholder {
  opacity: 0;
}

main .form .input-error::-ms-input-placeholder {
  opacity: 0;
}

main .form .input-error::placeholder {
  opacity: 0;
}

main .form .submit-btn {
  width: 30%;
  padding: .75rem 1.5rem;
  border: 1px solid #4f7df3;
  border-radius: 50px;
  background-color: #4f7df3;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.75rem;
  -webkit-box-shadow: #4f7df3 0px 0px 5px 0px;
          box-shadow: #4f7df3 0px 0px 5px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .form .submit-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: #4f7df3 0px 2px 15px 0px;
          box-shadow: #4f7df3 0px 2px 15px 0px;
}

main .form .submit-btn:focus {
  outline: none;
  background-color: #668ff4;
}

main .dashboard-img {
  width: 100%;
}

main .footer {
  width: 100%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .footer .links {
  padding: 1rem 0.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .footer .links .img-wrapper {
  border: 1px solid #c2d3ff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main .footer .links .img-wrapper .fab {
  color: #4f7df3;
  font-size: 15px;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

main .footer .links .img-wrapper:hover {
  border-color: transparent;
  background-color: #4f7df3;
}

main .footer .links .img-wrapper:hover .fab {
  color: #ffffff;
}

main .footer .copyright {
  font-size: 0.75rem;
  color: #969696;
  padding-top: 1rem;
}

main .text-bold {
  font-weight: 700;
  color: black;
}

@media screen and (max-width: 1600px) {
  main {
    padding: 3rem 10rem 1rem;
  }
}

@media screen and (max-width: 1200px) {
  main {
    padding: 3rem 5rem 1rem;
  }
}

@media screen and (max-width: 900px) {
  main {
    width: 100%;
    padding: 3rem 2rem 1rem;
  }
  main .logo {
    max-width: 50px;
  }
  main .header {
    font-size: 1.25rem;
    padding: 1rem 0 .5rem 0;
  }
  main .sub-header {
    font-size: .75rem;
    font-weight: 500;
  }
  main .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3rem;
  }
  main .form .inputtext {
    width: 100%;
  }
  main .form .submit-btn {
    margin-top: .5rem;
    width: 100%;
  }
  main .form .error-message {
    position: relative;
    top: 0;
    text-align: center;
    padding-top: .25rem;
    padding-left: 0;
  }
  main .form .label {
    font-size: .75rem;
    -webkit-transform: translateY(83%);
            transform: translateY(83%);
    left: 10%;
  }
  main .footer .links .img-wrapper {
    width: 32px;
    height: 32px;
  }
  main .footer .copyright {
    font-size: 0.65rem;
  }
}
/*# sourceMappingURL=style.css.map */